{{#partial "title"}}
    Animalia
{{/partial}}


{{#partial "content"}}
    {{> navBar.hbs }}

    <h1>Animals</h1>

    <div>
        {{#if animals}}
            {{#each animals}}
                <h4>{{ this.id }}</h4>
                <h4>{{ name }}</h4>

            {{/each}}
        {{/if}}
    </div>


    <h1>Endangered Animals</h1>

    <div>
        {{#if endangered}}
            {{#each endangered}}
                <p>{{ name }}</p>
                <p>{{ age }}</p>
                <p>{{ health }}</p>

            {{/each}}
        {{/if}}
    </div>
{{/partial}}


{{> layout.hbs }}